body {
    font-family: 'Armata';
    background-color: white;
}
header {
    color:#175676;
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
}

#search-form {
    justify-content: center;
    margin: 2rem;
    display:  flex;
}
#search {
    border-radius: .5rem;
    margin-right: 1rem;
    resize: none;
    width: 40rem;
}

#review-form {
    display: flex;
    justify-content: right;
    margin-right: 3rem;
    visibility: hidden;
}
#review {
    border-radius: .5rem;
    margin-right: 1rem;
    resize: none;
    width: 10rem;
}

#book-details {
    visibility: hidden;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #175676;
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 100rem;
}

#book-cover {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1rem;
}
#main-info {
    margin-right: 1rem;;
    color: white;
    display: grid;
    width: 20rem;
    text-align: center;
}

#book-description {
    color: white;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: .5rem;
    background-color: #DD6E42;
    text-decoration: none;
    border: none;
    color: rgb(223, 215, 215);
    border-radius: .5rem;
}

li {
    border: .2rem solid #175676;
    border-radius: .25rem;
    margin-right: 2.5rem;
    list-style-type: none;
    padding: .5rem
}

.hidden {
    visibility: hidden;
    display: none;
}

#book-container {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 1rem;
}

.book-list {
    padding: 1rem;
    text-align: center;
    border: .2rem solid #DD6E42;;
    border-radius: 1rem;
    box-shadow: 5px 5px rgb(179, 178, 178);
}

.list-images {
    margin-left: auto;
    margin-right: auto;
}